.progress {
    height: 3px;
    width: 0%;
    background-color: #fccb59;
    position: fixed;
    left: 0;
    animation: progress 1s linear;
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
  }
  @keyframes progress {
    to {
      background-color: rgb(41, 51, 229);
      width: 100%;
    }
  }