.progress {
    height: 5px;
    width: 0%;
    background-color: rgb(41, 51, 229);
    position: fixed;
    top:0;
    /*top: 5rem;*/
    left: 0;
    animation: progress 1s linear;
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
  }
  /*
  @keyframes progress {
    to {
      background-color: #fccb59;
      width: 100%;
    }
  }
  */